@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  background-color: #2b2b2b;
}

.sidebar-light {
  background-color: #f0f2f1;
}

.dark-bg {
  background-color: #242424;
}

.light-bg {
  background-color: #fefefe;
}

.border-dark {
  border-color: hsl(
    var(--nextui-divider) / var(--nextui-divider-opacity, var(--tw-bg-opacity))
  );
}

.bg-preview {
  background-image: radial-gradient(#4a4a4a 1.35px, #1e1e1e 1.35px);
  background-size: 27px 27px;
}

.bg-preview-light {
  background-image: radial-gradient(#afabab 1.35px, #ededed 1.35px);
  background-size: 27px 27px;
}

.bg-chat-preview {
  background-image: repeating-linear-gradient(
      45deg,
      #363636 25%,
      transparent 25%,
      transparent 75%,
      #363636 75%,
      #363636
    ),
    repeating-linear-gradient(
      45deg,
      #363636 25%,
      #292929 25%,
      #292929 75%,
      #363636 75%,
      #363636
    );
  background-position: 0 0, 17px 17px;
  background-size: 34px 34px;
}

.bg-chat-preview-light {
  background-color: #eeeeee;
  background-image: repeating-linear-gradient(
      45deg,
      #e1e1e1 25%,
      transparent 25%,
      transparent 75%,
      #e1e1e1 75%,
      #e1e1e1
    ),
    repeating-linear-gradient(
      45deg,
      #e1e1e1 25%,
      #eeeeee 25%,
      #eeeeee 75%,
      #e1e1e1 75%,
      #e1e1e1
    );
  background-position: 0 0, 17px 17px;
  background-size: 34px 34px;
}
